.decoder-text-glyph {
  color: #222; /* cinza escuro para fundo claro */
  opacity: 1;
  font-weight: bold;
  text-shadow: 0 0 4px #39ff14;
  transition: color 0.2s, opacity 0.1s;
}

.decoder-text-value {
  color: #222;
  opacity: 1;
  font-weight: bold;
  text-shadow: 0 0 4px #fff;
  transition: color 0.2s, opacity 0.1s;
}

/* Tema escuro */
.dark .decoder-text-glyph {
  color: #efffec; /* verde neon para fundo escuro */
  text-shadow: 0 0 8px #39ff14;
}

.dark .decoder-text-value {
  color: #efffec; /* verde claro quase branco */
  text-shadow: 0 0 8px #39ff14;
}